*{
    box-sizing: border-box;   
}

$background-color : #111;
$mobile : 768px;


@mixin mobile($width) {
    @media (max-width : $width ) {
        @content
    }
}

@mixin in--btw($start, $end) {
    @media only screen and (min-width: $start) and (max-width: $end){
        @content
    }
}