:root{
  --black : #000;
  --hash : #545454;
  --white : #DBDBDB;
}
  /* end of Switch Design */

nav{
    display: flex;
    justify-content: space-around;
    padding-top: 1em;
}
.logo-name{
    width: 100px;

}
.logo-name >img {
  width: 16rem;
}
.search-box{
  align-self: center;
}
.search-box > input{
  height: 2.5rem;
  font-size: 1rem;
  border-radius: 3px;
  font-weight: 700;
  padding-left: 13px;
  vertical-align: middle;
  background: var(--hash);
  color: var(--white);
  border: none;
}

.search-box > button{
  height: 2.5rem;
  width: 4.5rem;
  font-size: 1em;
  vertical-align: middle;
  margin-left: 1em;
  border-radius: 3px;
  border: none;
  background-color: var(--white);
  color: var(--black);
  cursor: pointer;
}