.card {
  font-size: 13px;
  width: 300px;
  padding: 20px;
}
.card--image {
  width: 100%;
  border-radius: 5px;
}
.card--stats {
  display: flex;
  align-items: center;
  gap: 9px;
}

.card--guitar {
  width: 35px;
}

.bolderized {
  font-weight: 700;
}

.card---props {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}


@media (max-width : 903px) {
    .card{
      width: 250px;
    }
    
}

@media (max-width : 748px) {
  .card{
    width: 200px;
    padding: 10px;

  }
  
}