.Messenger{
    height: calc(100vh - 70px);
    display: flex;
    flex-direction: row;
}
.chat-Menu{
    flex: 3.5;
}
.chatMenuInput{
    width: 90%;
    padding: 10px 0 10px 5px;
    border: none;
    border-radius: 3px;
}

.chat-Box{
    flex: 5.5;
}
.chat-Online{
    flex: 3;
}

.chatOnlineWrapper, .chatMenuWrapper, .chatBoxWrapper{
    padding: 10px;
    height: 100%;
}
