.Message{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}
.message-top{
    display: flex;
    flex-direction: row;
}
.message-image {
    height: 40px;
    width: 40px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 20px;
    margin-top: 20px;
}
.message-text{
    padding: 10px;
    background-color: #1877f2;
    border-radius: 3px;
    max-width: 300px;
}
.message-bottom{
    font-size: 13px;
    margin-top: 10px;
}
.Message.own {
    align-items: flex-end;
}
.Message.own .message-text{
    background-color: lightgray;
    color: black;
}