*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

// Font Family
$font-family : 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS';

$Primary--color : #511fb5;
$Second--color : #f5deb3;
$textual-color : #000;