@import './config';

@mixin CenterTags($gap, $direction){
    display: flex;
    gap: $gap;
    flex-direction: $direction;
    align-items: center;
    justify-content: center;
}

main{
    padding: 20px;
    margin-top: 15px;
}

.questions{
    @include CenterTags(15px, row);

    .q--input{
        height: 40px;
        text-indent: 7px;
        font-family: $font-family;
    }

    .q--button{
        font-size: 15px;
        font-weight: 700;
        padding: 8px;
        cursor: pointer;
        border-radius: 2px;
        border: none;
        font-family: $font-family;
        color: $Second--color;
        background-color: $Primary--color;
        &:hover{
            color: darken($Second--color, 50%);
            background-color: lighten($Primary--color, 50%);
        }
    }
}

.question--card{
    background-color: $Primary--color;
    color: $Second--color;
    margin-top: 4rem;
    padding: 40px;
    border-radius: 4px;
    .Q--text{
        font-size: 1.1rem;
        font-weight: 600;
    }
}


