.state{
    font-size: 50px;
    display: grid;
    place-content: center;
}

button{
    font-size: 20px;
}

.state--ans{
    margin: 20px;
    padding: 30px;
    background-color: white;
    border-radius: 50%;
}