.Messenger{
    height: calc(100vh - 70px);
    display: flex;
    flex-direction: row;
}
.chat-Menu{
    flex: 3.5;
}
.chatMenuInput{
    width: 90%;
    padding: 10px 0 10px 5px;
    border: none;
    border-radius: 3px;
}

.chat-Box{
    flex: 5.5;
}
.chat-box-bottom{
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.chatBoxWrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.chat-box-top{
    height: 100%;
    /* sidebar scroll */
    overflow-y: scroll;
    padding-right: 10px;

}
.chat-message-input{
    width: 70%;
    height: 80px;
    border: none;
    border-radius: 3px;
    padding: 10px;
}
.send-message-button{
    width: 100px;
    height: 50px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 15px;
    background-color: #1877f2;
    color: white;
    font-weight: 500;
}

.chat-Online{
    flex: 3;
}

.chatOnlineWrapper, .chatMenuWrapper, .chatBoxWrapper{
    padding: 10px;
    height: 100%;
}
